@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(60, 47, 47);
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 4rem;
  font-weight: 400;
}
a{
  color: white;
  transition: .3s all ease-in-out;
  text-decoration: none;
}
a:hover{
  color: gray;
}